<div class="setup-view">
  <h1 class="title">Setup Admin User</h1>
  <%= form_with url: setup_path, method: :post, local: true, model: User.new do |f| %>
    <div class="field">
      <%= f.label :username, class: 'label' %>
      <div class="control">
        <%= f.text_field :username, class: 'input', minlength: 4, required: true %>
      </div>
    </div>
    <div class="field">
      <%= f.label :password, class: 'label' %>
      <div class="control">
        <%= f.password_field :password, class: 'input', minlength: 8, required: true %>
      </div>
    </div>
    <div data-controller="security-question">
      <div class="field">
        <%= f.label :security_question_1, "Security Question 1", class: "label" %>
        <div class="control">
          <div class="select">
            <%= f.select :security_question_1, 
            @questions, 
            {}, 
            data: { security_question_target: "question1", action: "change->security-question#updateQuestion1" },
            required: true %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.label :security_answer_1, "Answer 1", class: "label" %>
        <div class="control">
          <%= f.text_field :security_answer_1, class: 'input', minlength: 4, required: true %>
        </div>
      </div>
      <div class="field">
        <%= f.label :security_question_2, "Security Question 2", class: "label" %>
        <div class="control">
          <div class="select">
            <%= f.select :security_question_2, 
            @questions,  
            { selected: @questions.second }, 
            data: { security_question_target: "question2", action: "change->security-question#updateQuestion2" },
            required: true %>
          </div>
        </div>
      </div>
      <div class="field">
        <%= f.label :security_answer_2, "Answer 2", class: "label" %>
        <div class="control">
          <%= f.text_field :security_answer_2, class: 'input', minlength: 4, required: true %>
        </div>
      </div>
    </div>
    <div class="mt-4 is-flex">
      <%= f.submit "Create Admin", class: "button" %>
    </div>
  <% end %>
</div>