<main class="is-fullwidth is-fullheight setup-container">
  <%= image_tag 'logo/logo.svg', alt: 'logo', class: 'image is-128x128 mb-1' %>
  <h2 class="title is-4 mb-6">Create Admin Account</h2>
  <%= form_with model: @user, url: setup_path do |f| %>
    <div class="form-row">
      <label class="label mb-0"><%= f.label :username %></label>
      <%= f.text_field :username %>
    </div>
    <div class="form-row">
      <label class="label mb-0"><%= f.label :password %></label>
      <%= f.password_field :password %>
    </div>
    <div class="form-row">
      <label class="label mb-0"><%= f.label :password_confirmation %></label>
      <%= f.password_field :password_confirmation %>
    </div>
    <div data-controller="security-questions">
      <div>
        <%= f.label :security_question_1, "Security Question 1" %>
        <%= f.select :security_question_1, 
          options_for_select([
            ["What is your favourite ice flavor", "ice_flavor"],
            ["What is your favourite drink", "drink"],
            ["What is your favourite color", "color"],
            ["In what town was your mother born", "mother_town"],
            ["In what town was your father born", "father_town"],
            ["What music genre do you like", "music_genre"]
          ]), 
          { include_blank: "Select a question" }, 
          { data: { security_questions_target: "question1" } } %>
        <%= f.label :security_answer_1, "Answer 1" %>
        <%= f.password_field :security_answer_1 %>
      </div>
      <div>
        <%= f.label :security_question_2, "Security Question 2" %>
        <%= f.select :security_question_2, 
          options_for_select([
            ["What is your favourite ice flavor", "ice_flavor"],
            ["What is your favourite drink", "drink"],
            ["What is your favourite color", "color"],
            ["In what town was your mother born", "mother_town"],
            ["In what town was your father born", "father_town"],
            ["What music genre do you like", "music_genre"]
          ]), 
          { include_blank: "Select a question" }, 
          { data: { security_questions_target: "question2" } } %>
        <%= f.label :security_answer_2, "Answer 2" %>
        <%= f.password_field :security_answer_2 %>
      </div>
    </div>
    <%= f.submit "Create Admin" %>
  <% end %>
  <div data-controller="hello">
    Check the console for a message!
  </div>
</main>