<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "CloudCine" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <!-- Favicon and Icons -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <!-- Stylesheets -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <main data-controller="sidebar">
      <%= render "layouts/navbar" %>
      <div class="nested-yield">
        <aside data-sidebar-target="sidebar" class="sidebar off">
          <nav class="menu">
            <h3 class="menu-heading">Media</h3>
            <ul>
              <li><a href="#"><i class="fa-solid fa-film"></i><span class="menu-label">Movies</span></a></li>
              <li><a href="#"><i class="fa-solid fa-tv"></i><span class="menu-label">TV Shows</span></a></li>
              <li><a href="#"><i class="fa-solid fa-music"></i><span class="menu-label">Music</span></a></li>
              <li><a href="#"><i class="fa-solid fa-square-plus"></i><span class="menu-label">Playlists</span></a></li>
            </ul>
            <h3 class="menu-heading">User</h3>
            <ul>
              <li><a href="#"><i class="fa-solid fa-cog"></i><span class="menu-label">Settings</span></a></li>
              <li><a rel="nofollow" data-method="delete" href="<%= destroy_user_session_path %>"><i class="fa-solid fa-right-from-bracket"></i><span class="menu-label">Sign Out</span></a></li>
            </ul>
          </nav>
        </aside>
        <%= yield %>
      </div>
    </main>
    <!-- JavaScript -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  </body>
</html>
