<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <title>CloudCine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
  <body>
    <main class="section p-0">
      <% if notice.present? %>
        <p class="notification is-primary">
          <%= notice %>
        </p>
      <% end %>
      <% if alert.present? %>
        <div class="notification is-danger is-light">
          <p class="is-size-7"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
